/* line 9, ../sass/goodsSearch.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/goodsSearch.sass */
html {
  font-size: 12px;
}

/* line 16, ../sass/goodsSearch.sass */
.myNavbar {
  height: 3.91667rem;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 1px solid #D5D5D5;
}
/* line 21, ../sass/goodsSearch.sass */
.myNavbar .back {
  display: inline-block;
  width: 3.33333rem;
  height: 3.33333rem;
}
/* line 25, ../sass/goodsSearch.sass */
.myNavbar .back img {
  display: inline-block;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 500;
  vertical-align: middle;
  padding: 0.3rem 1rem;
}
/* line 32, ../sass/goodsSearch.sass */
.myNavbar .search {
  position: relative;
  display: inline-block;
  padding: 0.6rem 0;
}
/* line 36, ../sass/goodsSearch.sass */
.myNavbar .search .glyphicon {
  font-weight: 400;
  position: absolute;
  font-size: 1.8rem;
  color: grey;
  top: 1.1rem;
  left: 1rem;
}
/* line 43, ../sass/goodsSearch.sass */
.myNavbar .search input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  background-color: #E5E5E5;
  width: 19.5rem;
  height: 2.66667rem;
  text-indent: 3rem;
  font-size: 1.2rem;
}
/* line 51, ../sass/goodsSearch.sass */
.myNavbar .slideDown {
  position: relative;
  display: inline-block;
  font-size: 1.33333rem;
  margin: 0.7rem 0rem 0rem 0.1rem;
  top: 0.2rem;
}
/* line 57, ../sass/goodsSearch.sass */
.myNavbar .slideDown label {
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

/* line 62, ../sass/goodsSearch.sass */
section {
  color: grey;
  padding: 0.5rem 1rem;
  font-size: 1.33333rem;
  vertical-align: middle;
  overflow: hidden;
}
/* line 68, ../sass/goodsSearch.sass */
section .glyphicon-heart {
  top: 0.25rem;
}
/* line 70, ../sass/goodsSearch.sass */
section .m-word {
  font-size: 1.16667rem;
  padding-left: 0.66667rem;
}

/* line 74, ../sass/goodsSearch.sass */
article {
  padding: 0.5rem 1rem;
}
/* line 76, ../sass/goodsSearch.sass */
article a {
  margin: 0.33333rem 0.33333rem;
  padding: 0.25rem 1.33333rem;
  color: black;
  text-decoration: none;
  float: left;
  box-sizing: inline-box;
  border: 1px solid #D5D5D5;
}

@media(min-width : 375px) {
  /* line 87, ../sass/goodsSearch.sass */
  html {
    font-size: 14px !important;
  }
}
@media(min-width : 414px) {
  /* line 91, ../sass/goodsSearch.sass */
  html {
    font-size: 15.5px !important;
  }
}
@media(min-width : 768px) {
  /* line 95, ../sass/goodsSearch.sass */
  html {
    font-size: 18px !important;
    width: 64%;
    margin: 0 auto;
  }
}
@media(min-width : 1024px) {
  /* line 101, ../sass/goodsSearch.sass */
  html {
    font-size: 25px !important;
    width: 70%;
    margin: 0 auto;
  }
}
